
<h1>Edit Idia N: <%= @id %></h1>

<form method = "POST">
	<dl class="basic-entry clearfix">
		<dt><label for "title">Title:</label></dt>
		<dd><input type ="text" name="title" id= "title" value = "<%= @idea.title %>" ></dd>
		<dt><label for "short_description">Short Description:</label></dt>
		<dd><input type ="text" name="short_description" id= "short_description" value = "<%= @idea.short_description %>"></dd>
		<dt><label for "idea_body">Content:</label></dt>
		<dd><textarea name="idea_body" id= "idea_body"/><%=@idea.idea_body %></textarea></dd>
	</dl>
	<input type= "submit" class= "button">
</form>
<div><%= @attributes %> </div>